<!--The content below is only a placeholder and can be replaced.-->
<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>
  <div class="field">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" #newTitle/>
  </div>
  <div class="field">
    <label for="link">Link</label>
    <input type="text" name="link" id="link" #newLink>
  </div>
  <button class="ui positive left floated button" (click)="addArticle(newTitle, newLink)">
    Submit Link
  </button>
</form>
<div class="ui grid posts">
  <app-article *ngFor="let article of sortArticles()" [article]="article"></app-article>
</div>
